<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.name }}</title>
</head>
<body>
    <h1>{{ event.name }}</h1>
    <p>{{ event.about }}</p>
    <p>Event Date: {{ event.event_date }}</p>
    {% if event.lunar_date %}
    <p>Lunar Date: {{ event.lunar_date }}</p>
    {% endif %}
    {% if event.image %}
    <img src="{{ event.image.url }}" alt="{{ event.name }}">
    {% endif %}
</body>
</html>
