<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
</head>
<body>
    <h1>Event List</h1>
    <ul>
        {% for event in events %}
            <li>
                <strong>{{ event.name }}</strong><br>
                <p>{{ event.about }}</p>
                <p>Date: {{ event.event_date }}</p>
                <p>Lunar Date: {{ event.lunar_date }}</p>
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.name }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
