<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transparent Card</title>
    <link rel="stylesheet" href="{% static 'timeline.css' %}" />
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />

  </head>

  {%include 'navbar.html' %}
  <body>
    <div class="timeline">
      {% for event in events %}
                <a href="{% url 'event_detail' event.id %}">
      <div class="container {% cycle 'left-container' 'right-container' %}">
        <img src="/montserrat/sc.png" alt="" />
        <div
          class="text-box {% if forloop.counter0|divisibleby:2 %}left-text-box{% else %}right-text-box{% endif %}"
          style="
            background-image: url('/montserrat/blu.jpg');
            background-size: cover;
          "
        >
          <div
            class="date {% if forloop.counter0|divisibleby:2 %}left-date{% else %}right-date{% endif %}"
          >
            {{ event.event_date }}
            <br>
            {{ event.lunar_date }}
          </div>
          <br />
          <h1 class="event-heading">{{ event.name }}</h1>
          <br />
          <div>{{ event.about }}</div>
          <span
            class="{% if forloop.counter0|divisibleby:2 %}left-container-arrow{% else %}right-container-arrow{% endif %}"
          ></span>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
